In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
# Lets create some data to play with:

# Note: It is not necessary to understand how this dataset was made to understand this Lecture.

#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [5]:
dframe #stacked

          date variable     value
0   2000-01-03        A  0.131978
1   2000-01-04        A  2.029454
2   2000-01-05        A -2.364030
3   2000-01-06        A  0.229416
4   2000-01-07        A -1.139405
..         ...      ...       ...
115 2000-02-07        D -0.194195
116 2000-02-08        D  0.755489
117 2000-02-09        D -0.193076
118 2000-02-10        D -0.119611
119 2000-02-11        D -0.252057

[120 rows x 3 columns]

In [6]:
dframe_piv = dframe.pivot('date','variable','value') #row, columns, values

In [7]:
dframe_piv

variable           A         B         C         D
date
2000-01-03  0.131978 -1.144791 -0.111623 -0.343596
2000-01-04  2.029454  1.114470  0.266573 -0.631426
2000-01-05 -2.364030  1.128455  0.689934  1.737925
2000-01-06  0.229416 -1.079688  0.527150 -1.002921
2000-01-07 -1.139405  0.493840 -1.517237  1.316330
2000-01-10 -0.195874  1.525300 -1.109849  0.196334
2000-01-11 -1.371769  1.471913 -0.599929 -1.009258
2000-01-12 -0.086990 -1.719839 -0.009251 -0.728492
2000-01-13  0.665415  0.474100  0.005150  0.137855
2000-01-14 -1.397706 -0.154873 -1.024435 -2.208447
2000-01-17 -1.144640 -0.618692  0.072049 -0.393468
2000-01-18 -1.115030 -0.135629 -1.140561  1.132260
2000-01-19  0.370096 -0.609169 -0.461660 -0.655442
2000-01-20 -1.106902 -0.665479 -0.601585 -0.603485
2000-01-21 -1.816071 -1.471147 -0.641410 -0.007027
2000-01-24 -0.440695  3.294602 -1.136523  0.389580
2000-01-25 -0.795720  0.877036 -0.290725 -1.127120
2000-01-26 -1.236557 -1.503574 -2.631067 -0.110721
2000-01-27 -1.189547  0.867287 -0.785204 -0.453123
2000-01-28  0.607975 -0.600305 -0.818549  0.441342
2000-01-31 -1.574075  1.408203  2.174154 -0.065543
2000-02-01 -1.098230 -1.110028  0.304843 -0.177169
2000-02-02  0.018224 -0.937236  1.295922 -0.790558
2000-02-03  0.430801 -1.545504 -0.838024 -1.907281
2000-02-04 -0.708107 -0.469881 -0.747142 -1.695772
2000-02-07 -1.367912 -1.591798 -0.849449 -0.194195
2000-02-08 -1.121414  1.472486  0.070691  0.755489
2000-02-09  0.496095 -0.256044  1.247814 -0.193076
2000-02-10 -0.240912  0.510391  0.367423 -0.119611
2000-02-11  0.024972 -0.897702  0.223528 -0.252057